.product {
    background-color:linen;
    padding: 20px;
    margin-bottom: 20px;
    }
    h2 {
        font-family:Arial, Helvetica, sans-serif;
    }
    .routerB{
     color: black ;
    }